<div class="page">
  <h1>Employees</h1>
  <div class="controls">
    <select
      class="select"
      [(ngModel)]="selectedDepartment"
      (change)="onDepartmentChange($event)"
    >
      <option value="">All Departments</option>
      <option *ngFor="let department of departments" [value]="department">
        {{ department }}
      </option>
    </select>

    <input
      class="input"
      type="text"
      placeholder="Search first / last name"
      [(ngModel)]="searchText"
      (input)="onSearchTextChange($event)"
    />

    <select
      class="select"
      [(ngModel)]="selectedCity"
      (change)="onCityChange($event)"
    >
      <option class="optionPlaceeholder" value="">All Cities</option>
      <option *ngFor="let city of cities" [value]="city">
        {{ city }}
      </option>
    </select>

    <button
      *ngIf="
        currentFilter.searchText ||
        currentFilter.department ||
        currentFilter.city
      "
      class="clear-button"
      (click)="clearAllFilters()"
    >
      Clear All Filters
    </button>
  </div>

  <div class="table-wrapper" *ngIf="isLoading; else loaded">
    <p class="loading">Loading employees…</p>
  </div>

  <ng-template #loaded>
    <div class="table-wrapper" *ngIf="employees.length; else empty">
      <table>
        <thead>
          <tr>
            <th>First&nbsp;Name</th>
            <th>Last&nbsp;Name</th>
            <th>Street</th>
            <th>City</th>
            <th>Age</th>
            <th>Department</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let e of employees">
            <td
              class="primary"
              [ngClass]="{
                highlight:
                  currentFilter.searchText &&
                  (e.firstName + ' ' + e.lastName)
                    .toLowerCase()
                    .includes(currentFilter.searchText.toLowerCase())
              }"
            >
              {{ e.firstName }}
            </td>
            <td
              [ngClass]="{
                highlight:
                  currentFilter.searchText &&
                  (e.firstName + ' ' + e.lastName)
                    .toLowerCase()
                    .includes(currentFilter.searchText.toLowerCase())
              }"
            >
              {{ e.lastName }}
            </td>
            <td>{{ e.street }}</td>
            <td
              [ngClass]="{
                highlight: currentFilter.city && e.city === currentFilter.city
              }"
            >
              {{ e.city }}
            </td>
            <td>{{ e.age }}</td>
            <td
              [ngClass]="{
                highlight:
                  currentFilter.department &&
                  e.department.toUpperCase() ===
                    currentFilter.department.toUpperCase()
              }"
            >
              {{ e.department.toUpperCase() }}
            </td>
            <td>
              <button class="btn" (click)="openEditEmployeeDialog(e)">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination-container" *ngIf="totalItems > 0">
      <button
        class="pagination-button"
        (click)="goToPage(currentPage - 1)"
        [disabled]="!hasPreviousPage"
      >
        Previous
      </button>
      <span
        >Page {{ currentPage }} of {{ totalPages }} ({{ totalItems }} items
        total)</span
      >
      <button
        class="pagination-button"
        (click)="goToPage(currentPage + 1)"
        [disabled]="!hasNextPage"
      >
        Next
      </button>

      <select
        class="page-size-select"
        [ngModel]="pageSize"
        (change)="onPageSizeChange($event)"
      >
        <option [value]="5">5 per page</option>
        <option [value]="10">10 per page</option>
        <option [value]="20 ">15   per page</option>
      </select>
    </div>

    <ng-template #empty>
      <p class="empty-state">No employees match your filters.</p>
    </ng-template>
  </ng-template>
</div>
